<div{{ attributes.addClass('bc-widewhite') }}>

<div class="uk-container uk-container-center">
	<div class="uk-grid uk-margin-large-top" data-uk-grid-margin="">
		<div class="uk-width-medium-1-2 uk-margin-large-top" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
			{{ content.field_left_header}}
			<div class="uk-big-bottom">
		    	{{ content.field_hero_half}}
		    </div>
		    
		</div>  
		<div class="uk-width-medium-1-2 uk-margin-large-top">
		    {{ content.field_block_content}}
		</div>
	</div>
</div>

</div>
