<div{{ attributes.addClass('bc-widewhite') }}>

<div class="uk-container uk-container-center">
	<div class="uk-grid uk-margin-large-top" data-uk-grid-margin="">
		<div class="uk-width-medium-4-10 uk-margin-large-top">
			{{ content.field_left_header}}
			<div class="uk-big-bottom">
		    	{{ content.field_block_content}}
		    </div>
		    
		</div>  
		<div class="uk-width-medium-6-10 uk-margin-large-top" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		    {{ content.field_hero_half}}
		</div>
	</div>
</div>

</div>
