
<div{{ attributes.addClass('bc-wide-crm-form') }}>

	<div class="uk-container uk-container-center">
	<div class="uk-width-medium-1-2 uk-margin-large-top uk-margin-large-bottom">
		{{ content|without('field_background_image') }}
	
		<form action="https://8kb4b1bj.insight.ly/WebToLead/Create" class="uk-form uk-panel uk-panel-box qodecta" method="post" name="insightly_web_to_lead" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
			<p class="uk-column-xlarge-1-2 uk-column-large-1-2">
			<input name="formId" type="hidden" value="6RN+I9ZRvpfN7NUnN5b1oQ==" />
			<input id="insightly_firstName" name="FirstName" placeholder="First Name" type="text" /><br />
			<input id="insightly_lastName" name="LastName" placeholder="Last Name" type="text" /><br />
			<input id="insightly_organization" name="OrganizationName" placeholder="Organization" type="text" /><br />
			<input id="insightly_Email" name="email" placeholder="Email" type="text" /><br />
			<input id="insightly_Phone" name="phone" placeholder="Phone" type="text" /><br />
			<input id="insightly_Title" name="Title" placeholder="Title" type="text" /><br />
			<input id="insightly_ResponsibleUser" name="ResponsibleUser" type="hidden" value="1243763" />
			<input id="insightly_LeadSource" name="LeadSource" type="hidden" value="1431892" />
			</p>
			<button class="uk-button uk-button-primary" type="submit">Contact Sales</button>
		</form>
	
	</div>
	</div>
</div>