<div{{ attributes.addClass('bc-widewhite') }}>

<div class="uk-container uk-container-center">
	<div class="uk-grid" data-uk-grid-margin="">
		<div class="uk-width-medium-1-2" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
		<div class="uk-panel uk-panel-space">
		    {{ content.field_hero_half }}
		    </div>
		</div>
		<div class="uk-width-medium-1-2 uk-margin-large-top uk-flex uk-flex-center uk-flex-middle">
			<div class="uk-panel uk-panel-box uk-text-center uk-width-1-1">
		    	{{ content|without('field_hero_half', 'field_background_image') }}
		    </div>
		</div>  

	</div>
</div>

</div>