<div class="uk-container uk-container-center">
	<h2>Typography</h2>
	<p>Jump to: Typefaces, Usage</p>
</div>

<div class="style-container">
	<div class="uk-container uk-container-center">
		{% include directory ~ '/templates/styleguide/components/typography.html.twig' %}
	</div>
</div>

<div class="uk-container uk-container-center">
	<h2>Buttons</h2>
	<p>Jump to: Button Types, Alternate Sizes, Icons, Social, Special</p>
</div>

<div class="style-container">
	<div class="uk-container uk-container-center">
		{% include directory ~ '/templates/styleguide/components/buttons.html.twig' %}
	</div>
</div>

<div class="uk-container uk-container-center">
	<h2>Navigation</h2>
	<p>Jump to: Vertical Nav, Source List, Toolbar, Modal Navigation, Modal Subnavigation, Generic</p>
</div>

<div class="style-container">
	<div class="uk-container uk-container-center">
		{% include directory ~ '/templates/styleguide/components/navigation.html.twig' %}
	</div>
</div>


<div class="uk-container uk-container-center">
	<h2>Forms</h2>
	<p>Jump to: Standard Form Elements, Additional Input Types, Form Validation</p>
</div>

<div class="style-container">
	<div class="uk-container uk-container-center">
		{% include directory ~ '/templates/styleguide/components/forms.html.twig' %}
	</div>
</div>


<div class="uk-container uk-container-center">
	<h2>Components</h2>
	<p>Jump to: Modals, Progress Bars, Upload Area, Collapsible Headers, Tables, DYK, Photo Stack</p>
</div>

<div class="style-container">
	<div class="uk-container uk-container-center">
		{% include directory ~ '/templates/styleguide/components/components.html.twig' %}
	</div>
</div>

<div class="uk-container uk-container-center">
	<h2>Charts</h2>
	<p>Jump to: Line, Pie, Bar</p>
</div>

<div class="style-container">
	<div class="uk-container uk-container-center">
		{% include directory ~ '/templates/styleguide/components/charts.html.twig' %}
	</div>
</div>


<div class="uk-container uk-container-center">
	<h2>Brand Elements</h2>
	<p>Jump to: Colors, Logo</p>
</div>



<div class="style-container">
	<div class="uk-container uk-container-center">
		{% include directory ~ '/templates/styleguide/components/brandelements.html.twig' %}
	</div>
</div>