<h2>Standard Button Types</h2>

<table class="uk-table">
	<tr>
	<th>Type</th>
	<th>Normal</th>
	<th>Hover</th>
	<th>Down/TouchStart</th>
	<th>Css class</th>
	</tr>
	
	<tr><!--start button row -->
		<td><h5>Default</h5>
			<p class="font11">Standard button light backgrounds</p>
		</td>
		<td><button class="uk-button">Default</button></td>
		<td><button class="uk-button">Hover</button></td>
		<td><button class="uk-button">Default</button></td>
		<td><code>uk-button</code></td>
	</tr><!--end button row -->
	<tr class="uk-contrast uk-back-black"><!--start button row -->
		<td><h5>Inverse</h5>
			<p class="font11">Standard button light backgrounds</p>
		</td>
		<td><button class="uk-button">Default</button></td>
		<td><button class="uk-button">Hover</button></td>
		<td><button class="uk-button">Default</button></td>
		<td><code>uk-button</code></td>
	</tr><!--end button row -->
		<tr><!--start button row -->
		<td><h5>Primary</h5>
			<p class="font11">Standard button light backgrounds</p>
		</td>
		<td><button class="uk-button uk-button-primary">Default</button></td>
		<td><button class="uk-button uk-button-primary">Hover</button></td>
		<td><button class="uk-button uk-button-primary">Default</button></td>
		<td><code>uk-button</code></td>
	</tr><!--end button row -->
		<tr><!--start button row -->
		<td><h5>Alt</h5>
			<p class="font11">Standard button light backgrounds</p>
		</td>
		<td><button class="uk-button">Default</button></td>
		<td><button class="uk-button">Hover</button></td>
		<td><button class="uk-button">Default</button></td>
		<td><code>uk-button</code></td>
	</tr><!--end button row -->
		<tr><!--start button row -->
		<td><h5>Danger</h5>
			<p class="font11">Standard button light backgrounds</p>
		</td>
		<td><button class="uk-button uk-button-danger">Default</button></td>
		<td><button class="uk-button uk-button-danger">Hover</button></td>
		<td><button class="uk-button uk-button-danger">Default</button></td>
		<td><code>uk-button</code></td>
	</tr><!--end button row -->
		<tr><!--start button row -->
		<td><h5>Processing</h5>
			<p class="font11">Standard button light backgrounds</p>
		</td>
		<td><button class="uk-button">Default</button></td>
		<td><button class="uk-button">Hover</button></td>
		<td><button class="uk-button">Default</button></td>
		<td><code>uk-button</code></td>
	</tr><!--end button row -->
	
	<tr><!--start button row -->
		<td><h5>Default</h5>
			<p class="font11">With Dropdown</p>
		</td>
		<td><button class="uk-button">Default</button></td>
		<td><button class="uk-button">Hover</button></td>
		<td><button class="uk-button">Default</button></td>
		<td><code>uk-button</code></td>
	</tr><!--end button row -->	
	
</table>

Notes:
• Buttons should always contain actual text
• Text should always be centered.
• Font for standard size is Source Sans Pro Regular 13px.
• Minimum standard button width is 130px.
• 40px left/right padding.
• 10px top/bottom padding.
• Buttons should always be assigned with classes eg. uk-button.

Example Usage:
Cancel / Upload



Alternate Button Sizes:
The standard button size should be used default, but there will always be need for flexibility and the following button sizes can be used when appropriate.

(button size table)


Icons in Buttons
Main site action buttons should be accompanied with icons. Pictures are a universal language.

(button icon example)