



<h2>Typefaces</h2>
<div class="uk-margin-large-bottom">
Proxima Nova will be the primary typeface used for the Qode One brand. Although it has many weights, the only weights used will be Extralight, Regular and Semibold. When the font size is 12px or smaller, the typeface should change to Myriad Pro on Mac or Arial on PC.
</div>

<div class="uk-grid">
<div class="uk-width-medium-1-2">

<h2 class="font-title">Proxima Nova</h2>
<div class="uk-text-center uk-margin-left uk-margin-right">
	<h4>
		ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
		abcdefghijklmnopqrstuvwxyz<br>
		1234567890 ⌘ « » ‹ › ‘ ’ “ ” „ ‚ ❝ ❞ £ ¥ € $ ¢ <br>
		¬ ¶ @ § ® © ™ ° × π ± √ ‰ Ω ∞ ≈ ÷ ~ ≠ ¹ ² ³ ½ ¼ ¾ <br>
		‐ – — | ⁄ \ [ ] { } † ‡ … · • ●  ⌥ ⌃ ⇧ ↩ ¡ ¿ ‽ <br>
		⁂ ∴ ∵ ◊ ※ ← → ↑ ↓ ✔ ★ ☆ ♺ ☼ ♪ ♫ ♯ ♀ ♂ α <br>
		ß Á á À à Å å Ä ä Æ æ Ç ç É é È è Ê ê Í í Ì<br>
		  ì Î î Ñ ñ Ó ó Ò ò Ô ô Ö ö Ø ø Ú ú Ù ù Ü ü Ž ž<br>
    </h4>
</div>

<h5>Proxima Nova Semibold 16px:</h5>
	<p class="font16">We want people to love our content. To check out our site, take one of our ideas and share it with their friends. Our ideas are about excellence. We share our best ideas and attract great clients who are also in pursuit of excellence.

Qode One helps businesses take control of their content and drive valuable traffic to their site.
	</p>

<h5>Proxima Nova Regular 14px:</h5>
	<p class="font14">We want people to love our content. To check out our site, take one of our ideas and share it with their friends. Our ideas are about excellence. We share our best ideas and attract great clients who are also in pursuit of excellence.
	
	Qode One helps businesses take control of their content and drive valuable traffic to their site.
	</p>
<h5>Proxima Nova Regular 12px:</h5>
	<p class="font12">We want people to love our content. To check out our site, take one of our ideas and share it with their friends. Our ideas are about excellence. We share our best ideas and attract great clients who are also in pursuit of excellence.
	
	Qode One helps businesses take control of their content and drive valuable traffic to their site.
	</p>
<h5>Lucida Grande 11px (Mac):</h5>
	<p class="font11">Qode one is an innovator in content management solutions using the best software available for our clients. We leverage the power of great design layouts and strict adherance to development standards.
	</p>
<h5>Lucida Grande 10px (Mac):</h5>
	<p class="font10">Qode one is an innovator in content management solutions using the best software available for our clients. We leverage the power of great design layouts and strict adherance to development standards.
	</p>
<h5>Arial 11px (Pc):</h5>
	<p class="font11arial">Qode one is an innovator in content management solutions using the best software available for our clients. We leverage the power of great design layouts and strict adherance to development standards.
	</p>
<h5>Arial 10px (Pc):</h5>
	<p class="font10arial">Qode one is an innovator in content management solutions using the best software available for our clients. We leverage the power of great design layouts and strict adherance to development standards.
	</p>
</div>
<div class="uk-width-medium-1-2">

<h5>Headers:</h5>

<h1>h1. Header1</h1>
<p class="font11">Proxima Nova Extralight 48px</p>

<h2>h2. Header2</h2>
<p class="font11">Proxima Nova Extralight 32px</p>

<h3>h3. Header3</h3>
<p class="font11">Proxima Nova Extralight 26px</p>

<h4>h4. Header4</h4>
<p class="font11">Proxima Nova Regular 20px</p>

<h5>h5. Header5</h5>
<p class="font11">Proxima Nova Regular 16px</p>

<h6>h6. Header6</h6>
<p class="font11">Lucida Grande Bold 11px / Arial Bold 11px</p>


<h5>Hyperlinks:</h5>
<p class="font14">Hyperlinks should always be one step bolder than the body text that contains them. They are never underlined, rather increased from alpha opacity from .8 to 1.</p>

<p class="font14">In this example body text is 14px "Regular". This Hyperlink is "Semibold". The color for hyperlinks is always the Qode One @blue color.</p>

<h5>Image text rendering:</h5>
<p class="font14">While most text should be rendered by the browser, on the occasion that text is saved as an image from Photoshop, The highest quality of rendering should be used.</div>


	</div>
</div>