
<div class="right col">
   <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/qodeone">Tweets by qodeone</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
