
{#
/**
 * @file
 * uikitty's theme implementation for a menu block.
 *
 * @ingroup themeable
 */
#}
  {{ title_prefix }}
  {% if label %}
    <div class="uk-nav-header">{{ label }}</div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
      {{ content }}
  {% endblock %}